.bbbo{
    background-color: #c53028;
    width: 40vw;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 7%;
    position: relative;
}

@media (max-width: 420px){
    .bbbo{
        width: 90%;
        margin-top: 20%;
        padding: 0px;
        padding-bottom: 20px;
        padding-top: 20px;

    }
}